h1{
    color: rgb(37, 145, 109);
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: rgb(94, 153, 231);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}